<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/F.png') }}" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/F.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <title>Formula</title>
</head>
<body>
    
<nav id="navBar">
    <a onclick="menuShow()" id="btnMenu" href="#"></a>
    <a class="nav__link" href="{{ url_for('news') }}"><span></span><p>Новости</p></a>     
    <a class="nav__link" href="{{ url_for('city') }}"><span></span><p>Мой город</p></a>     
    <a class="nav__link" id="ideaBlock"><span></span><p>Интересное</p></a>    
    <a class="nav__link" href="{{ url_for('justice') }}"><span></span><p>Моё право</p></a>   
    <a class="nav__link" href="{{ url_for('maps') }}"><span></span><p>Карты</p></a>    
    <img src="{{ url_for('static', filename='img/logo/logo.svg') }}" alt="">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{{ url_for('static', filename='img/Icon/marker.svg') }}" alt=""> Тюмень
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item hre" href="#">Екатеринбург</a>

              <a class="dropdown-item" href="#">Сургут</a>
          </li>
    </ul>
</nav>

<section>
    <div class="content-container">
        <div class="ideasBlock">
            <h1>Интересное</h1>

            <div class="ideasBlock__content">
                <div class="ideasBlock__content__item">
                  <div class="items">
                    <div class="items__item" >
                        <input class="hide" id="hd-1" type="checkbox">
                        <label class="items__item__photo" style="background-image:linear-gradient(#b1b1b13b, #ffffff), url({{ url_for('static', filename='img/auto.svg') }});"  for="hd-1">
                          <span class="date">12.02.2019
                          </span><strong><h3>Как недопустить обледенения машины по утрам</h3></strong>
                          <p>Как правильно очистить машину после ледяного дождя?</p>
                        </label>
                        <div>
                          Ваш автомобиль покрылся ледяной коркой после бушевавшего ночью ледяного дождя? Теперь вы не знаете, что делать с ним дальше? Даже отпереть невозможно. Ситуация отлично знакома жителям приморских северных городов нашей страны, да и москвичи в прошлом году и несколькими годами ранее сталкивались с подобными капризами природы.
                          И если опытные автомобилисты из Мурманска или Владивостока, скорее всего, прекрасно знают, что делать в таких ситуациях, для менее подготовленных автовладельцев мы приведем пару важных советов, которые помогут быстрее очистить машину от слоя льда и при этом сохранить краску и стекла автомобиля в целости и сохранности.
                          Можно делать
                          Зимние Советы: Что делать если автомобиль покрылся льдом?
                          Если автомобиль не только покрылся льдом, но его еще и засыпало снегом, прежде чем начать очищаться автомобиль ото льда сметите снег со стекол. Таким образом вы уменьшите нагрузку на стекло и оно менее вероятно пойдет трещиной.
                          Нельзя делать
                          Не чистите снег лопатой, слишком легко поцарапать краску или треснуть стекло. Используйте автомобильные щетки, на худой конец обычную швабру.
                          Можно делать
                          Зимние Советы: Что делать если автомобиль покрылся льдом?
                          Перед зимой обработайте дверные уплотнители силиконовой смазкой. Это предотвратит их примерзание к кузову.
                          Если двери покрылись несильным слоем льда, можно попробовать их открыть, осторожно потянув за ручку открывания двери. Если видно, что слой льда большой и дверь никак не поддается, используйте скребок для льда (держите дополнительный дома на всякий случай).
                          С помощью его пластиковой кромки постарайтесь отбить лед в промежутке между дверью и стойками. Бить придется сильно, но аккуратно. Будьте внимательны и осторожны.
                          А вот чтобы сбить лед с капота или багажника седана, достаточно постучать по ним ладонью. Не сильно. Часть льда треснет и его можно будет убрать с кузова. Впрочем особо заморачиваться по очистке этих частей кузова не стоит…
                          Нельзя делать
                          И уже тем более, категорически нельзя пытаться счистить скребком лед с бортов, капота, крыши машины. Даже пластик зажатый между слоем льда и кузовной поверхностью нанесет повреждения ЛКП.
                          Также не пытайтесь сбить лед ударами рукоятки скребка, молотком, куском дерева и т.д. Охлажденный металл проще поддается деформации. Вмятины и сколы могут быть гарантированными.
                            <br>
                            <input class="none__two" id="hd-1" type="checkbox">
                            <label class="none__two-two" for="hd-1"><strong>Закрыть</strong></label>
                        </div>
                    </div>
                </div>

                <div class="ideasBlock__content__item">
                  <div class="items">
                    <div class="items__item" >
                        <input class="hide" id="hd-2" type="checkbox">
                        <label class="items__item__photo" style="background-image:linear-gradient(#b1b1b13b, #ffffff), url({{ url_for('static', filename='img/auto.jpg') }});"  for="hd-2">
                          <span class="date">11.22.2019
                          </span><strong><h3>Как уменьшить расход топлива</h3></strong>
                          <p>Как уменьшить расход топлива? Все способы здесь!</p>
                        </label>
                        <div>
                          1) Для начала необходимо проверить воздушный фильтр. Загрязненный воздушный фильтр способен ограничивать поток воздуха внутрь мотора, а это плохо влияет на его работу, а значит, и на расход топлива. Проверка и замена воздушного фильтра занимает всего несколько минут: снимите его, а затем подними на свет – если свет не будет проходить, тогда фильтр необходимо заменить. В целях экономии лучше всего для двигателя использовать «легкие» моторные масла, у которых низкая вязкость и полученные на основе полусинтетики или синтетики. Такие масла уменьшают потребление топлива в сравнении с минеральными традиционными маслами, у которых более высокая вязкость — до 6 процентов.

2) Проверка давления в шинах. «Мягкие» шины являются самым распространенным фактором после грязного фильтра, который довольно сильно влияет на потребление автомобилем топлива, и которому водители не придают должного значения. Давление необходимо проверять в холодных шинах, поскольку движение увеличивает давление и нагревает резину. Иногда можно пробовать увеличивать давление на 0,3 бара от нормы. Это позволит снизить сопротивление качению.

3) Медленная езда. Попробуйте несколько дней поездить на небольшой скорости. Поначалу Вы будете чувствовать себя черепахой, но заметите, что на заправку будете заезжать реже. Оптимальная скорость движения 80-90 км/ч, если нет нужды спешить, то старайтесь придерживаться этой скорости.

4) Ездите «паровозиком». Постоянная скорость сводит к минимуму нагрузку на детали автомобиля, а это означает, что расход топлива уменьшается. Езда цепочкой за каким-нибудь автомобилем позволяет сократить расход топлива, но для здоровья такой совет можно считать вредным.

5) Осторожное пользование педалью газа. При резких нажатиях на акселератор в цилиндры проходят большие объемы топлива, поэтому резкий старт – это залог того, что топливо будет расходоваться впустую. На малых скоростях не следует пользоваться повышенными передачами, поскольку расход топлива будет расти. При езде лучше не делать резких торможений, а особенно при езде на карбюраторных автомобилях, так как через жиклеры холостого хода избыточное количество топлива выбрасывается. Поэтому не забывайте внимательно следить за обстановкой на дороге, чтобы успеть сбросить скорость в необходимый момент.

6) Этот совет несколько добавляет дискомфорт в жизнь, но чего не сделаешь ради денег? Ездите при выключенном кондиционере, так как он способен «сжирать» от 5 до 20 процентов расходуемого топлива. Поэтому открывайте окна и наслаждайтесь свежим воздухом.

7) Отказ от тюнинга. Без сомнения модные диски это красиво и даже полезно, поскольку владелец машины внимательнее начинает относиться к внешнему состоянию автомобиля. Но широкие диски способны создавать большее аэродинамическое сопротивление, а это увеличивает потребление топлива. Лучше всего не менять серийные колеса, так как использование узких колес позволяет снизить расход топлива.

8) Чем тяжелее автомобиль, тем больше топлива будет потребляться. Бережливый водитель всегда должен устраивать генеральную уборку в машине и выбрасывать весь хлам и мусор из багажника и бардачка. Если на крыши Вашего автомобиля установлен багажник, а Вы им не пользуетесь, то лучше его снять, так как он отказывает большое аэродинамическое сопротивление, что способствует потреблению большего количества топлива. На каждые 50 кг лишнего веса перерасход топлива составляет 2 процента! Поэтому довольно хорошо вспомнить эту цифру, например, снаряжая автомобиль в поездку на море.

9) Экономить топливо позволяет езда на старом автомобиле. Новый автомобиль, хотя он больший по размерам и красивее, наверняка ест больше топлива, нежели Ваш старый автомобиль. Поэтому не стоит продавать старый автомобиль или же полностью списывать его, так как он Вам еще может пригодиться.

10) Этот совет позволяет вообще не тратиться на бензин – попросту не ездить на автомобиле. Такое предложение может показаться глупым, но ведь сложно не согласиться, что чем меньше Вы ездите, тем меньше тратите топлива. Велосипедные и пешеходные прогулки – хороший способ сэкономить не только деньги, но и здоровье. И каждый раз, перед тем как сесть за руль машины для того, чтоб доехать в ближайший магазин – задайте себе вопрос: а обязательно ли мне для этого садится за руль?

Еще несколько способов

Не следует покупать тяжелый автомобиль. Установлено, что каждые 500 кг веса авто способны потреблять около 700 л топлива в год (при норме пробега 20 тыс. километров в год). Это означает, что если Ваша машина весит 1000 кг, то за год будет сожжено 1400 литров бензина, а если вес 1500 кг – 2100 литров и т.д. Не забывайте проходить техническое обслуживание автомобиля. Исправный, но неотрегулированный автомобиль способен потреблять на 10% больше топлива.

Существует довольно много неполадок, которые могут привести к тому, что Ваш автомобиль будет превышать положенные нормы расхода топлива. Проверяйте давление в колесах. Более 2/3 владельцев авто ездят на колесах, у которых заниженное давление, в то время, как установлено, что уменьшение давления с 2,0 кг/см до 1,5 кг/см2 увеличивает перерасход топлива на 3 процента. Величина давления в колесах должна измеряться в холодном состоянии.

Не забывайте следить за регулировкой колес (развал-схождение). Иногда полностью открытые окна могут привести к большему потреблению топлива. К примеру, расход бензина во время движения малолитражного автомобиля со скоростью 120 км/ч с закрытыми окнами и включенным кондиционером составляет примерно 8 литров. Но если окна будут открыты, а кондиционер выключен, то потребление топлива составит около 10,5 литров. Феномен объясняется просто – в некоторых автомобилях включенный кондиционер способен «тормозить» двигатель меньше, нежели аэродинамическое сопротивление при открытых окнах. Во время движения постоянно не удерживайте ногу на педали тормоза.

На склоне не удерживайте автомобиль с помощью педалей акселератора и сцепления. Для этой цели лучше пользоваться ручным тормозом. Во время часа пик лучше удержаться от поездок. По утрам не стоит полностью прогревать двигатель. Как только стрелка, указывающая температуру, сдвинется с места уже можно начинать движение. На педаль газа при этом следует нажимать меньше, пока двигатель не прогреется полностью. Правильный выбор передачи.

Если Вы полностью нажмете на педаль газа на повышенной передаче, нормальный разгон не выйдет, но перерасход будет обеспечен. Как только разогнались, следует сразу же выключить повышенную передачу. Если Вы сделали остановку более чем на одну минуту – глушите двигатель.

Много топлива расходуется в неблагоприятную погоду. Каждая пробуксовка на льду это выброшенный впустую бензин. Коробка передач также способна влиять на расход топлива. Автомобили с автоматической коробкой передач расходуют на один литр больше топлива, нежели автомобили с механической. Это происходит из-за пробуксовки фрикционных дисков.
                            <br>
                            <input class="none__two" id="hd-2" type="checkbox">
                            <label class="none__two-two" for="hd-2"><strong>Закрыть</strong></label>
                        </div>
                    </div>
                </div>

                <div class="ideasBlock__content__item">
                  <div class="items">
                    <div class="items__item" >
                        <input class="hide" id="hd-3" type="checkbox">
                        <label class="items__item__photo" style="background-image:linear-gradient(#b1b1b13b, #ffffff), url({{ url_for('static', filename='img/auto2.jpg') }});"  for="hd-3">
                          <span class="date">11.20.2019
                          </span><strong><h3>Телефон за рулем ?</h3></strong>
                          <p>Почему опасны разговоры по мобильнику за рулем?</p>
                        </label>
                        <div>
                          Как известно, при разговоре по мобильнику часть внимания водителя переключается, то есть, как говорят автоинструкторы, присутствует некий элемент отвлеченности. Человек разговаривает по телефону, поэтому его мысли направлены в другую сторону, и поэтому концентрация в какой-то степени ослабевает. Да и одна рука оказывается занята. А если во время разговора на дороге возникнет сложная ситуация, где потребуется быстрая реакция и такой же быстрый маневр, что делать в такой ситуации?

Скорее всего, водитель с телефоном в одной руке не сможет быстро среагировать, и риск возникновения ДТП или аварийной ситуации возрастает в несколько раз.
Что говорит статистика

Кстати, разговоры по телефону во время вождения запрещены во многих странах, в том числе и в России. Однако статистика показывает, что этот запрет не уменьшает количество аварий на дороге.

Все дело в следующем: аккуратный автомобилист никогда не станет отвлекаться на мобильник будучи за рулем. Такой водитель лучше остановится для ответа или перезвонит позже. А вот лихач отвечает на любые звонки, причем, не снижая скорости автомобиля.

Разговоры по телефону, написание СМС, пользование другими девайсами за рулем специалисты называют рассеянным вождением, когда человек, отвлекаясь от дороги, не всегда может вовремя заметить опасность, к тому же он может спровоцировать аварийную ситуацию. Исследования показали, что когда водитель отводит взгляд от дороги на экран мобильного устройства при скорости движения 60 км/час он проезжает «вслепую» 65 метров. Соответственно, чем выше скорость, тем больше такие «слепые» участки.

Неординарная социальная реклама против использования мобильного телефона за рулем
Американские ученые доказали, что экран мобильного телефона плохо влияет на зрение. После яркого света экрана, требуется время на то, чтобы зрачок перестроился для восприятия объектов вдали, особенно в темное время суток. Это ведет к нарушению концентрации внимания и становится невозможным вовремя спрогнозировать аварийную ситуацию на дороге.
Гарнитура и чувство уверенности

Решают ли проблему гарнитуры hands free? С одной стороны они и созданы для того, чтобы облегчить автомобилисту жизнь. Но с другой стороны, по данным экспертов, применение беспроводной гарнитуры в машине формирует у человека ложное чувство уверенности.
Разговор по телефону, даже если при этом свободны обе руки, в любом случае самым негативным образом влияет на продуктивность вождения и внимания. Так что эффективность водителей, которые пользуются за рулем hands free, ничуть не отличается от эффективности автомобилистов, держащих мобильный телефон в одной руке.

Напротив, без hands free водители при разговоре притормаживают или съезжают к обочине чаще, чего автолюбители с hands free, к сожалению, не делают.

Исследования одного университета показывают, что разговор по мобильнику во время вождения машины увеличивает шанс аварии в четыре раза. При этом неважно, используется ли беспроводная гарнитура или обычный телефон.

Небольшой вывод об использовании телефона водителями

Из вышесказанного можно сделать следующий вывод: причина многих ДТП отнюдь не сотовые телефоны. Опасны сами водители, разговаривающие по телефону за рулем или отвлекающиеся на написание сообщений. Такие водители водят автомобиль рассеянно, подвергая опасности себя и окружающих.
                            <br>
                            <input class="none__two" id="hd-3" type="checkbox">
                            <label class="none__two-two" for="hd-3"><strong>Закрыть</strong></label>
                        </div>
                    </div>
                </div>

                <div class="ideasBlock__content__item">
                  <div class="items">
                    <div class="items__item" >
                        <input class="hide" id="hd-4" type="checkbox">
                        <label class="items__item__photo" style="background-image:linear-gradient(#b1b1b13b, #ffffff), url({{ url_for('static', filename='img/auto3.jpg') }});"  for="hd-4">
                          <span class="date">11.14.2019
                          </span><strong><h3>Застряла машина в снегу ?</h3></strong>
                          <p>Один из старых крутых способов вытащить застрявшую машину из снега одному - мы расскажем!</p>
                        </label>
                        <div>
                          Способ вытащить одному машину из снега или песка рабочий и поможет при необходимости одному без посторонней помощи выехать из ямы.

Вытащить машину из сугроба или песка
Вытащить машину из сугроба или песка
Есть масса других полезных методов, но этот интересный - получается так - как сделать из переднеприводного автомобиля полноприводный.

Я уже рассказывал о некоторых эффективных способах как вытащить одному застрявшее авто - ссылки в конце публикации.

Рабочий крутой способ вытащить одному авто из сугроба, песка или грязи
Если машина застряла в сугробе или в песке, села на так называемое "брюхо" или "пузо", то вариантов её вытащить много. Но не все они могут помочь - но попробовать стоит.

К примеру, подложить под ведущие колёса автомобильные коврики или мусор рядом находящийся - типа палки, ветки и брёвна.

Покрутить колёсами в разные стороны - расшевелить ямку - тоже иногда помогает.

Браслеты из цепей, чтобы выехать на застрявшей машине 
Браслеты из цепей, чтобы выехать на застрявшей машине
Воспользоваться лопатой - откопаться. Сделать на всякий "пожарный" себе "браслеты" из цепей - есть и такой отличный способ.

Если есть рядом друзья, то можно попробовать своими силами. Или сидеть и ждать помощи…

А можно, как в нашем сегодняшнем варианте, использовать стропу и домкрат - можно и без домкрата, но нужна длинная верёвка.

Была у меня в недалёком прошлом "Нива Шевролет" - вот тут полный привод с блокировкой как никогда помогает очень здорово, да и клиренс у неё соответствующий для наших российских дорог.

С "нивкой" я вытаскивал из грязи даже застрявших джиперов - охотников, рыболовов и грибников.

Но о ниже представленном способе слышу и вижу впервые - главное, что работает. Дядька показывает на своём примере, как одному вытащить засевший автомобиль.

Старый рабочий способ вытащить машину из снега
Старый рабочий способ вытащить машину из снега
С помощью широкой стропы, кои у многих есть в наличии, наматывает на ведущее колесо до одного полного оборота. Далее поддомкрачивает заднее колесо и наматывает на него несколько оборотов этой стропы.

И наблюдая из переднего окна начинает плавной движение, чтобы вытащить застрявший авто. И ведь самое интересное - получается!
                            <br>
                            <input class="none__two" id="hd-1" type="checkbox">
                            <label class="none__two-two" for="hd-1"><strong>Закрыть</strong></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>::-webkit-scrollbar {
    width: 1%;
    height: 1%;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #f1f1f1;
    -webkit-border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgb(212, 206, 77);;
    -webkit-border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgb(212, 206, 77);;
    -webkit-border-radius: 20px;
  }</style>

</body>

<script src="{{ url_for('static', filename='style/jQuery.js') }}"></script>
<script src="{{ url_for('static', filename='style/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='style/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/main.js') }}/"></script>

<script type="text/javascript">
    clock();
</script>
</html>